/* Color Palette
#2B2D42 - dark blue 43,45,66
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
p{
    text-align: justify;
}
h1, h2 {
  font-family: /*'Caveat'*/'Courier New', cursive;
/*    text-transform: uppercase;*/
  font-weight: 500;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
    font-family: /*'Caveat'*/'Georgia', cursive;
  margin: 0;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn {
  text-decoration: none;
  background: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}


/* Header and Footer
-------------------------*/
header, footer {
  /*background: #2B2D42;
  color: #8D99AE;*/
    color: white;
    text-align: justify;
    font-weight: 300;
    background: linear-gradient(rgba(43, 45, 66, 0.5), rgba(43, 45, 66, 0.8)),
              url(../images/dark-blue-lines.jpg) no-repeat fixed;
  background-size: cover;
}
.intro-block{
    background: linear-gradient(rgba(43, 45, 66, 0.5), rgba(0, 10, 38, 0.8));/*#2B2D42;*/
    border-style: none;
    border-radius: 30px;
    padding: 2px 20px;
    
}

/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  /*color: #EDF2F4;*/
  color: white;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
  
}
.download {
  position:absolute;
  bottom: 30px;
  right: 0;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
footer p{
    text-align: center;
}

/* Navigation
-------------------------*/
nav {
  text-align: center;
  background:white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Summary
-------------------------*/
.summary {
    color: white;
    font-weight: 300px;
    text-align: justify;
  background: linear-gradient(rgba(43, 45, 66, 0.5), rgba(0, 10, 38, 0.7)),
              url(../images/ny.jpg) no-repeat fixed;
  background-size: cover;
}
.summary-block{
    background: linear-gradient(rgba(43, 45, 66, 0.6), rgba(0, 10, 38, 0.9));/*#2B2D42;*/
    border-style: none;
    border-radius: 30px;
    padding: 2px 20px;
}
p + h3 {
  margin-top: 30px;
}
/* Education
-------------------------*/
.education {
    color: aliceblue;
  background: linear-gradient(rgba(43, 45, 66, 0.5), rgba(0, 10, 38, 0.7)),
              url(../images/edu-bk.jpg) no-repeat fixed;
/*    background: #2B2D42;*/
  background-size: cover;
}

/* Technical skills
-------------------------*/
.tech {
    color:white;
  /*background: #EDF2F4;*/
/*  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),*/
/*              url(../images/ed-bk.jpg) no-repeat fixed;*/
    background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(0, 10, 38, 0.8)),
              url(../images/tech2.jpg) no-repeat fixed;
  background-size: cover;
}

h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/* Project
-------------------------*/
.proj {
  /*background: #EDF2F4;*/
    color:white;
  background: linear-gradient(rgba(43, 45, 66, 0.5), rgba(0, 10, 38, 0.9)),
              url(../images/proj3.jpg) no-repeat fixed;
  background-size: cover;
}

/* Certifications
-------------------------*/
.cert {
  /*background: #EDF2F4;*/
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
              url(../images/office-view2.jpg) no-repeat fixed;
  background-size: cover;
}
.cert-block{
    color:white;
    background: linear-gradient(rgba(141, 153, 174, 0.5), rgba(0, 10, 38, 0.8));/*#2B2D42;*/
    border-style: none;
    border-radius: 30px;
    padding: 2px 20px;
    
}

/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
